* {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
.container {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Mobile */
@media (max-width: 767px) {
    .container {
        width: 400px;
    }
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}    
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End-Global-Rules */
/* Start-Variables */
:root {
    --main-color: #1a1a1a;
    --second-color: #2c2c2c;
    --third-color: #4a4a4a;
    --font-color: #9f9f9f;
    --main-transtion: .3s;
}
/* End-Variables */
/* Start-Top-Players */
.premier-league .top-players {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 15px;
}
.premier-league .top-players .head {
    display: flex;
    gap: 20px;
    padding: 25px;
    border-bottom: 1px solid var(--second-color);
}
.premier-league .top-players .head a {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    transition: .2s;
}
.premier-league .top-players .head a:not(.active):hover {
    color: var(--third-color);
}
.premier-league .top-players .ratings {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    padding: 20px;
}
.premier-league .top-players .ratings .top-rated,
.premier-league .top-players .ratings .top-scores,
.premier-league .top-players .ratings .top-assists,
.premier-league .top-players .ratings .goals-assists,
.premier-league .top-players .ratings .goals-per-90,
.premier-league .top-players .ratings .expected-goals,
.premier-league .top-players .ratings .xg-per-90,
.premier-league .top-players .ratings .expected-goals-on-target,
.premier-league .top-players .ratings .shots-on-target-per-90,
.premier-league .top-players .ratings .chances-created,
.premier-league .top-players .ratings .expected-assists,
.premier-league .top-players .ratings .clean-sheets,
.premier-league .top-players .ratings .save-percentage,
.premier-league .top-players .ratings .yellow-cards,
.premier-league .top-players .ratings .red-cards {
    border: 1px solid var(--second-color);
    border-radius: 15px;
    width: calc((100% / 3) - 13px);
    display: flex;
    flex-direction: column;
    padding: 0;
}
.premier-league .top-players .ratings h3 {
    padding: 20px;
    font-weight: 500;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: var(--main-transtion);
}
.premier-league .top-players .ratings h3:hover {
    background-color: rgba(0, 0, 0, 0.187);
}
.premier-league .top-players .ratings h3::before {
    content: "See all";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    font-size: 12px;
    color: white;
    text-transform: none;
    display: none;
    transition: var(--main-transtion);
}
.premier-league .top-players .ratings h3:hover::before {
    display: flex;
}
.premier-league .top-players .ratings h3::after {
    content: "\f054";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 12px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
}
.premier-league .top-players .ratings h3 span {
    text-transform: none;
}
.premier-league .top-players .ratings .rates a {
    padding: 15px 20px;
    position: relative;
}
.premier-league .top-players .ratings .rates a .player {
    width: 30px;
    height: 30px;
}
.premier-league .top-players .ratings .rates a div {
    gap: 5px;
}
.premier-league .top-players .ratings .rates a div h4 {
    font-size: 13px;
    font-weight: 400;
}
.premier-league .top-players .ratings .rates a div p {
    gap: 5px;
    font-weight: 400;
}
.premier-league .top-players .ratings .rates a div p img {
    width: 12px;
}
.premier-league .top-players .ratings .rates a .rate {
    position: absolute;
    right: 25px;
    font-weight: 400;
}
.premier-league .top-players .ratings .top-rated .rates a:first-of-type .rate,
.premier-league .top-players .ratings .top-scores .rates a:first-of-type .rate {
    font-weight: 400;
}
.premier-league .top-players .ratings .goals-assists .rates a:first-of-type .rate,
.premier-league .top-players .ratings .xg-per-90 .rates a:first-of-type .rate,
.premier-league .top-players .ratings .yellow-cards .rates a:first-of-type .rate {
    background-color: #1e4492;
}
.premier-league .top-players .ratings .goals-per-90 .rates a:first-of-type .rate {
    background-color: #9d2358;
}
.premier-league .top-players .ratings .expected-goals .rates a:first-of-type .rate,
.premier-league .top-players .ratings .expected-goals-on-target .rates a:first-of-type .rate,
.premier-league .top-players .ratings .shots-on-target-per-90 .rates a:first-of-type .rate {
    background-color: #76b4e5;
    color: black;
}
.premier-league .top-players .ratings .chances-created .rates a:first-of-type .rate,
.premier-league .top-players .ratings .expected-assists .rates a:first-of-type .rate,
.premier-league .top-players .ratings .clean-sheets .rates a:first-of-type .rate,
.premier-league .top-players .ratings .save-percentage .rates a:first-of-type .rate,
.premier-league .top-players .ratings .red-cards .rates a:first-of-type .rate {
    background-color: #bd0510;
}
/* End-Top-Players */